table {
  width: 100%;
  margin-top: 50px;
}
mat-toolbar {
  background-color: white;
}
/* .mat-form-field {
  font-size: 14px;
  background-color: red;
  
} */

.input {
  width: 100%;
  font-size: 14px;
  margin-right: 10px;

  > div {
    background-color: white;
  }
}

.btnEdit,
.btnDelete {
  cursor: pointer;
}

.btnDelete {
  color: #e61204;
}
.btn {
  width: 80px;
}

.container-filter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.colomn-format {
  text-align: center;
}
.email-format {
  width: 10px !important;
  padding: 0 !important;
}

@media (max-width: 1024px) {
  .mobile-style {
    display: none;
    background-color: red !important;
  }
}
