mat-form-field{
  width: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 0 5px;
}

.error {
  color: #B0304B;
  font-size: 12px;
}